extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      a.navbar-brand(href='/app/') Network
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
          if is_admin
            li.nav-item
              a.nav-link(href='/app/admin') Admin
          li.nav-item
            a.nav-link(href='/app/post') Create Post
          li.nav-item
            a.nav-link(href='/app/group') Create Group
      form.d-flex(action='/users/logout',method='post')
        button.btn.btn-outline-success(type='submit') Logout

  div.container-fluid.row(class="marginVertical")
    if posts.length > 0
    
      for post in posts
      
        div.marginVertical.image
          div.right.marginVertical
            if post.FILE != ''
              form.inline.marginHorizontal(action='/files/download/#{post.FILE}',method='post')
                button.btn.btn-outline-primary(type='submit') Download
            if user.USERNAME === post.CREATED_BY
              form.inline.marginHorizontal(action='/files/delete/#{post.POST_ID}',method='post')
                button.btn.btn-outline-danger(type='submit') Delete
          if post.FILE != ''
            if post.FILE.toUpperCase().includes(".PNG") || post.FILE.toUpperCase().includes(".JPG")
              img.image( src='/files/file/#{post.FILE}' )

            else if post.FILE.toUpperCase().includes(".MP4")
              video(width='320' height='240' controls='')
                source(src='/files/file/#{post.FILE}' type='video/mp4')
                | Your browser does not support the video tag.

            else
              div.image
                p.card-text Uploaded File
                h5.card-title #{post.FILE}


          div.image.card
            .card-body
              h5.card-title #{post.CREATED_BY}
              p.card-text #{post.CONTENT}
            p
          
        hr

